{% set title = "제품 등록" %} {% extends "layout/base.html" %} {% block content
-%}
<form action="" method="post">
  <!-- actiond 값을 비워두면 현재 url을 유지하며 post요청으로 날아간다. -->
  <table class="table table-bordered">
    <tr>
      <th>제품명</th>
      <td><input type="text" name="name" class="form-control" /></td>
    </tr>
    <tr>
      <th>가격</th>
      <td><input type="text" name="price" class="form-control" /></td>
    </tr>
    <tr>
      <th>설명</th>
      <td><input type="text" name="description" class="form-control" /></td>
    </tr>
  </table>
  <button class="btn btn-primary">작성하기</button>
</form>

{% endblock %}
